<%= display_task_group(@task_group) %>
<%=link_to"Add a new Task",new_task_group_task_path(@task_group) %>
<div id ='tasks_list'>
  <% @task_group.tasks.each do |task| %>
      <%= display_task(task) %>
  <% end %>
</div>
<%=link_to"<--Back",projects_path %>